
header {
  padding: 20px 0 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
  margin-top: 50px;
}

article.readme::before {
  content: "// Readme.md";
  position: relative;
  font-size: 2rem;
  top: -70px;
  left: -20px;
}

.avatar{
  border-radius: 50%;
}
